.MenuHorizontal {
    text-align: center;
    color: blueviolet;
}

.titulo {
    text-align: center;
    color: blue;
}

.tablaPrincipal {
    margin: auto;
    margin-top: 200x;
    color: rgb(98, 97, 97);
}

.header{
    margin-left: auto;
    margin-top: 200x;
    color: rgb(88, 88,89);
    text-align: center;
}

.footer{
    text-align: center;
    color: rgb(88, 88,89);
    margin-top: 100px;
}

.Nombre {
    text-align: center;
    margin-top: 10px;
}

.foto_perfil {
    color: rgb(88, 88,89);
    margin-top: 10px;
    height: 300px;
    text-align: center;
}

.Datos {
    text-align: center;
    margin-top: 10px;
    color: rgb(88, 88,89);
}